/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}
body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    color : #160F29;
}
h1 {
    color :#F38630;
    font-weight: 200;
}
h4{
    color :#FA6900;
    font-weight: 200;
    text-transform: uppercase;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    line-height: 50px; /* Vertically center the text there */
    background-color: #A7DBD8;
    border-top: 1px dotted #F38630;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
    padding: 30px 15px 0;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}
.container a, .container a:link, .container a:visited {
    color: #FA6900;
}
.container a:hover, .container a:active {
    color: #F38630;
    text-decoration: underline;
}
